@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*{
	margin: 0;
	padding: 0;
}

.wrapper{
	max-width: 1200px;
	margin: auto;
}

/*section{
	max-width: 900px;
}*/


header{
	height: 80px;
	background-color: white;
	border-bottom: 4px solid gold;
    padding: 8px 0;
}

#company-logo{
	width: 20%;
	float: left;

}

.logo {
	background: url('../img/M7QaK_xk_1.svg') no-repeat 0 0;
	height: 80px;
	width: 80px;
	display: inline-block;
	margin: 0 0 0 15%;
}

nav#mobile-menu {
	display: block;
	width: 100%;
	text-align: center;
}

nav#mobile-menu > #menu-links{
    height: 1000px;
    width: 100%;
    position: absolute;
    background-color: #fafafa;
    padding: 2em 0 0 1em;
    margin: 8px 0;
    overflow-y: scroll;
}

nav#mobile-menu > #menu-links > li{
	margin: 10px 5px;
}

nav ul#menu-links.momento-x {
    background: url(../img/M7QaK_xk_1.svg) no-repeat 0 0;
    float: right;
    font-size: 0;
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
}

nav {
	width: 80%;
	float: left;
	text-align: right;
}
nav a{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	font-size: 1em;
	color: blue;
	text-transform: uppercase;
	text-decoration: none;
}

nav #menu-links{
    padding: 2em 0em;
    margin: 0 5% 0 0;
}

nav #menu-links li{
	list-style: none;
	display: inline-block;
	margin: 0 5px;

}



.text-segment{
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	max-width: 450px;
	float: right;
	line-height: 1.5em;
	font-weight: 300;
	opacity: 0.8;
	margin-top: 10px;
}


@media (max-width: 600px) {
	.text-segment{
		width: 100%;
	}
	#about-us{
	padding: 20px;
}
}

.text-segment div{
	padding: 20px;
}

